
{% extends ":back:base.html.twig" %}
{% block title %}TypeAbonnement{% endblock  %}
{% block body %}
    <div class="container">
        <div class="row">
           <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-2"></i>
                         <a href="{{path('frontoffice_homepage')}}">
                            Front Office
                        </a>
                    </li>
                    <li class="active">
                        <i><b>  Back Office </b> </i>
                    </li>
                    
                </ol>
            </div>
        </div>
        </div>
        {% include ":back:alert.html.twig" %}
       
        
        
        
        <div class="row">
            <div class="col-md-12">
                <!-- start: DYNAMIC TABLE PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external-link-square"></i>
                        Liste des TypesAbonnements
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                            <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                            <a href="{{path('tuto_TypeAbonnement_ajout')}}" > <span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                            <thead>
                                <tr>
                                <th class="center">CodeTypeAbonnement</th>
                                 <th class="center">Libelle</th>
                                 <th class="center">Duree</th>
                                 <th class="center">Prix</th>
                                  <th class="center">Description</th>
                                  <th class="center">Actions</th>
                                       
                                 
                                    
                                </tr>
                            </thead>
                            <tbody>
                          {% for typeabonnement in Typeabonnements %}
                             <tr>
    
                        <td class="center">{{typeabonnement.codeTypeAbonnement}}</td>
                         <td class="center">{{typeabonnement.libelle}}</td>
                        <td class="center">{{typeabonnement.duree}} </td>
                          <td class="center">{{typeabonnement.prix}} </td>
                           <td class="center">{{typeabonnement.description}} </td>
    
                         <td class="center">
                          
                        <a href="{{path('tuto_TypeAbonnement_modif',{'id':typeabonnement.id})}}" class="btn btn-xs btn-teal tooltips"  data-original-title="Modifier" data-placement="top"><i class="fa fa-edit"></i></a>
                             <a href="{{path('tuto_TypeAbonnement_supp',{'id':Typeabonnement.id})}}"  class="btn btn-xs btn-bricky tooltips"  data-original-title="Supprimer" data-placement="top" onclick="javascript:return(confirm('Are you sure you want to delete this line??'))"><i class="fa fa-times fa fa-white"></i></a>
                        </td>
                      </tr>
                     {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: DYNAMIC TABLE PANEL -->
            </div>
        </div>
        
    {% endblock  %}

