{% extends ":front:Front.html.twig" %}

{% block title %}Demandes Reçues{% endblock  %}
{% block body %}
    
 <section class="wrapper">
        <div class="container">

            <div class="col-md-12">
            <div class="row animate-group">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <h3 class="icon-box-title">
                           Demandes Reçues </h3>
                        <div class="icon-box-content">  
   
{% for demande in demandes %}
  

                                                
                                                    
                                                        {% if demande.user.path is null  %}
                                                            <img class="thumbnail" style="width: 40px;height: 40px;"  alt="" src="{{ asset('front/images/images (4)_1.jpg') }}">
                                                        {% else %}
                                                            <img class="thumbnail" style="width: 40px;height: 40px;"  src="{{ asset(demande.user.assetPath)}}"> 

                                                        {%endif%}
                                                        <div align="left"> <b><font color="black"> Vous avez une nouvelle demande de la part de {{demande.user}}!!!</font></b> <br>
                                                                Gouvernorat: {{demande.user.localite.delegation.gouvernorat}} , Delegation:{{demande.user.localite.delegation}} , Localite: {{demande.user.localite}}<br>
                                                            Le service qu'il/elle a besoin :{{demande.service}}<br>
                                                            Date du demande :{{demande.dateDemande|date('d/m/Y')}} <br>
                                                            <a href="{{ path('front_reponsesSucces',{'demande':demande.id}) }}">  cliquez ici </a></div>
                                                   
                                                            
                                                      
     <br> <div align="right"> <a href="{{ path('proposition_ajout',{'id':demande.id})}}"> envoyer proposition </a><br><br> <hr> </div>
     <br> <hr> 
     {% endfor %}
                        </div>
                        </div>

                    </div>
                </div></div></div></div></section>
{%endblock%}