{% extends ":back:base.html.twig" %}
{% block title %}Utilisateur{% endblock  %}
{% block body %}
   <div class="container">
        <div class="row">
           <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-2"></i>
                         <a href="{{path('frontoffice_homepage')}}">
                            Front Office
                        </a>
                    </li>
                    <li class="active">
                        <i><b>  Back Office </b> </i>
                    </li>
                    
                </ol>
            </div>
        </div>
        </div>
       {% include ":back:alert.html.twig" %}



        <div class="row">
            <div class="col-md-12">
                <!-- start: DYNAMIC TABLE PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external-link-square"></i>
                        Liste des Utilisateurs
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>


                            <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                            <a href="{{path('tuto_user_ajout')}}" > <span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="center">Nom Et Prenom</th>
                                    <th class="center">Nom d'Entreprise</th>

                                    <th class="center">DateNaissance</th>
                                    <th class="center">Genre</th>
                                    <th class="center">Telephone</th>
                                    <th class="center">Image</th>
                                    <th class="center">SiteWeb</th>

                                    <th class="center">Is Admin</th>

                                    <th class="center">Actions</th>



                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="center"> {{user.NomEtPrenom}} </td>
                                        <td class="center"> {{user.NomEntreprise}} </td>

                                        <td class="center"> {{user.DateNaissance|date("d/M/Y")}} </td>
                                        <td class="center"> {{user.Genre}} </td>
                                        <td class="center"> {{user.Telephone}} </td>
                                        <td class="center"> <img  src="{{ asset(user.assetPath)}}"  height="75"></td>
                                        <td class="center"> {{user.SiteWeb}} </td>

                                        <td class="center"> {% if user.hasRole('ROLE_ADMIN') %} Administrateur {% endif %}{% if user.hasRole('ROLE_PROF') and user.NomEntreprise!=null %}Entreprise {%else%} {% if user.hasRole('ROLE_PROF') and user.NomEntreprise==null%} Professionnel{% endif %} {% endif %} {% if user.hasRole('ROLE_CLIENT') %} Client {% endif %}</td>

                                        <td  class="center">

                                            <a href="{{path('tuto_user_modif',{'id':user.id})}}" class="btn btn-xs btn-teal tooltips"  data-original-title="Modifier" data-placement="top"><i class="fa fa-edit"></i></a>
                                            <a href="{{path('tuto_user_supp',{'id':user.id})}}"  class="btn btn-xs btn-bricky tooltips"  data-original-title="Supprimer" data-placement="top" onclick="javascript:return(confirm('Voulez-vous  supprimer cette ligne??'))"><i class="fa fa-times fa fa-white"></i></a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: DYNAMIC TABLE PANEL -->
            </div>
        </div>
   </div>
    {% endblock  %}