{% extends ":front:Front.html.twig" %}

{% block title %}Categories{% endblock  %}
{% block body %}
    <section class="wrapper" style="min-height: 400px; background-image: url(&quot;/pfe/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">

            <div class="row animate-group">
                <div class="col-md-offset-2 col-md-12 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <h3 align="left" class="icon-box-title">
                          choisissez parmi ces catégories pour effectuer vos demandes:</h3>
                        <div class="icon-box-content">
<div class="row">
           <div class="col-md-8">
                <div class="grid-container animate-group" data-animation-interval="100">

                    {% for categorie in categories %}
                        <div class="col-md-3 col-sm-6">
                            <div class="grid-item animate">
                                <a href="{{path('front_categorie',{'id':categorie.id})}}">
                                    <div class="grid-image">
                                        <img style="width: 256px;height: 166px;"  src="{{ asset(categorie.assetPath)}}"  class="img-responsive"/> 
                                        <span class="image-overlay"> <i class="fa fa-mail-forward circle-icon circle-main-color"></i> </span>
                                    </div>
                                    <div class="grid-content" title="{{categorie}}">
                                        <font color="blue">    <b>  {% if categorie.nom|length >10 %} {{ categorie.nom|slice(0,10) }}...{%else%} {{categorie}}{%endif%} </b></font>
                                    </div>
                                </a>

                            </div>
                        </div>{% endfor %} </div></div></div>  </div>


                    </div>
                </div>

            </div>
        </div>



    </section>
{%endblock%}
