{% extends ":front:Front.html.twig" %}
{% block title %}Réponses Propositions{% endblock  %}
{% block body %}

    <section class="wrapper" style="min-height: 400px; background-image: url(&quot;/pfe/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">

            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <h3 align="left" class="icon-box-title">
                            Les réponses pour la proposition envoyée:</h3>
                        <div class="icon-box-content">
                            {% for proposition in proposition %}
                                {% if proposition.demande.user.path is null %}
                                <img class="thumbnail" style="width: 50px;height: 50px;"  alt="" src="{{ asset('front/images/images (4)_1.jpg') }}">{% else %}

                                <img class="thumbnail" style="width: 50px;height: 50px;" src="{{ asset(proposition.demande.user.assetPath)}}"> {%endif%}

                                <div align="left">   Nom du client de la demande reçue : {{proposition.demande.user}}<br>
                                    <font color="black"> <b>  Prix proposé:  {{proposition.prix}}<br>
                                        Prix final proposé :   {{proposition.fprix}}<br>
                                        Message  :   {{proposition.message}}</b> </font></div>

                            {%endfor%}




                        </div>


                    </div>
                </div>

            </div>
        </div>



    </section>
{%endblock%}


