{% extends ":back:base.html.twig" %}
{% block title %} Delegation {% endblock  %}
{% block body %}
    <div class="container">
        <div class="row">
           <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-2"></i>
                         <a href="{{path('frontoffice_homepage')}}">
                            Front Office
                        </a>
                    </li>
                    <li class="active">
                        <i><b>  Back Office </b> </i>
                    </li>
                    
                </ol>
            </div>
        </div>
        </div>
       {% include ":back:alert.html.twig" %}




        <div class="row">
            <div class="col-md-12">
                <!-- start: DYNAMIC TABLE PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external-link-square"></i>
                        Liste des Delegations
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                            <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                            <a href="{{path('tuto_delegation_ajout')}}" > <span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="center">Libelle</th>
                                    <th class="center"> Description </th>
                                    <th class="center"> Gouvernorat</th>
                                    <th class="center"> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for delegation in delegations %}
                                    <tr  class="center">

                                        <td>{{delegation.libelle}}</td>
                                        <td >{{delegation.description}}</td>
                                        <td> {{delegation.Gouvernorat}} </td>
                                        <td>

                                            <a href="{{path('tuto_delegation_modif',{'id':delegation.id})}}" class="btn btn-xs btn-teal tooltips"  data-original-title="Modifier" data-placement="top"><i class="fa fa-edit"></i></a>

                                            <a href="{{path('tuto_delegation_supp',{'id':delegation.id})}}"  class="btn btn-xs btn-bricky tooltips"  data-original-title="Supprimer" data-placement="top" onclick="javascript:return(confirm('Voulez-vous  supprimer cette ligne??'))"><i class="fa fa-times fa fa-white"></i></a>

                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: DYNAMIC TABLE PANEL -->
            </div>
        </div>

    {% endblock  %}