{% extends ":back:base.html.twig" %}
{% block title %} Delegation {% endblock  %}
{% block body %}
    <div class="container">
        <div class="row">
           <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-2"></i>
                         <a href="{{path('frontoffice_homepage')}}">
                            Front Office
                        </a>
                    </li>
                    <li class="active">
                        <i><b>  Back Office </b> </i>
                    </li>
                    
                </ol>
            </div>
        </div>
        </div>
        <br>
         
        <br>
     <div class="row">
            <div class="col-md-12">
                <!-- start: FORM VALIDATION 1 PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external-link-square"></i>
                        Ajouter une Delegation
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                            </a>
                            <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-xs btn-link panel-refresh" href="#">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a class="btn btn-xs btn-link panel-expand" href="#">
                                <i class="fa fa-resize-full"></i>
                            </a>
                            <a class="btn btn-xs btn-link panel-close" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <br>

                        {{form_start(form,{'attr':{'id':'form2','role':'form'}})}}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="errorHandler alert alert-danger no-display">
                                    <i class="fa fa-times-sign"></i> Vous avez des erreurs , S'il vous plaît vérifier ci-dessous.
                                </div>
                                <div class="successHandler alert alert-success no-display">
                                    <i class="fa fa-ok"></i> Votre validation de formulaire est réussie!
                                </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <style>
                                    .required:after { content:" *";
                                                      color:red; }
                                    </style>
                                    {{ form_row(form.libelle,{'attr':{'placeholder':'Donner la libelle de la delegation'}}) }}
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form_row(form.description,{'attr':{'placeholder':'Donner la description de la delegation '}}) }}
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form_row(form.Gouvernorat) }}
                                </div>
                            </div>

                                <br>
                            <button data-style="expand-left" class="btn btn-teal ladda-button">
                                <span class="ladda-label"> Ajouter une Delegation</span>
                                <i class="fa fa-arrow-circle-left"></i>
                                <span class="ladda-spinner"></span>
                            </button> <font color="red"><i class="fa fa-warning faa-flash animated"></i> 

                      champ obligatoire * </font>
                        </div>

                    </div>
                    {{ form_end(form) }}
                </div>
               
                
        </div>
                 
    </div>



{% endblock %}
