{% extends ":front:Front.html.twig" %}
{% block title %}error404{% endblock  %}
{% block body %}


<html>
<head>
    <!-- start: META -->
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->

<link rel="stylesheet" href="{{ asset('front/plugins/bootstrap-social-buttons/social-buttons-3.css') }}">
<link rel="stylesheet" href="{{ asset('front/plugins/-slider/flexslider.css') }}">
</head>
<body>
<div class="main-container">
 <section class="wrapper">
        <div class="container">
            <div class="row">
                <!-- start: 404 -->
                <div class="col-sm-12 page-error">
                    <div class="error-number teal">
                        404
                    </div>
                    <div class="error-details col-sm-6 col-sm-offset-3">
                        <h3>Oops! You are stuck at 404</h3> <br>
                       <b> <h2>  {{ exception.message }} ({{ status_code }} {{ status_text }}) </h2> </b>
                        <p>
                            <br>
                             <a href="{{path('frontoffice_homepage')}}" class="btn btn-teal btn-return">
                                Return home
                            </a>
                           
                       
                    </div>
                </div>
                <!-- end: 404 -->
            </div>
        </div>
    </section>
</div>


<!-- end: MAIN CONTAINER -->

         
<script src="{{ asset('front/plugins/flex-slider/jquery.flexslider.js') }}"></script>
   </body>
   </html>
   {% endblock %}